{% extends "base.html" %}

{% block title %}
Dashboard - Attendance Management System
{% endblock %}

{% block content %}

<h1>Dashboard</h1>

<div class="dashboard">

    <div class="card">

        <h3>Total Students</h3>

        <p>{{ student_count }}</p>

    </div>

   <div class="card">

    <h3>Total Attendance Records</h3>

    <p>{{ attendance_count }}</p>

</div>

<div class="card">

    <h3>Present</h3>

    <p>{{ present_count }}</p>

</div>

<div class="card">

    <h3>Absent</h3>

    <p>{{ absent_count }}</p>

</div>

</div>

{% endblock %}